.canvas {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  background:
    linear-gradient(
      #000, transparent 1px
    ),
    linear-gradient(
    90deg,
    #000, transparent 1px
    );
  background-size: 10px 10px;
  background-position: start center;
}